<ng-container *ngFor="let section of displaySections">
  <div class="heading-label"
      *ngIf="section?.title && section?.theme?.component !== 'sb-course-cards-hlist' && section?.theme?.component !== 'sb-library-cards-hlist'">
      <span>{{section?.title}}</span>
  </div>
  <ng-container *ngIf="section?.theme?.component === 'sb-pills-grid'">
      <sb-pills-grid [pillShape]="section?.theme?.inputs?.pillShape"
          [pillsViewType]="section?.theme?.inputs?.pillsViewType"
          [selectMode]="section?.theme?.inputs?.selectMode"
          [minDisplayCount]="section?.theme?.inputs?.minDisplayCount"
          [viewMoreText]="section?.theme?.inputs?.viewMoreText"
          [viewLessText]="section?.theme?.inputs?.viewLessText"
          [showMoreViewType]="section?.theme?.inputs?.showMoreViewType"
          [pillsMultiRow]="section?.theme?.inputs?.pillsMultiRow"
          [pillBorder]="section?.theme?.inputs?.pillBorder">
          <sb-pill-item *ngFor="let pillData of section.data" [name]="pillData?.facet | titlecase"
            [icon]="{ component: 'sb-pill-item', input: 'icon' } | themeInputsSelector : section?.theme : pillData?.facet"
            [theme]="({ component: 'sb-pill-item', input: 'theme' } | themeInputsSelector : section?.theme : pillData?.facet) || (pillData?.facet | randomColorMapPipe)"
            [value]="pillData"></sb-pill-item>
      </sb-pills-grid>
  </ng-container>
</ng-container>